<h5>@articleDto.Name</h5>
@articleDto.Text
<br />
Автор: @articleDto.LoginUser
<br />
Опубликовано на сервере: @articleDto.CreationDate
<span class="oi oi-thumb-up ms-3" style="color:forestgreen " >@articleDto.Raiting</span>

<NavLink class="nav-link col-3" href="@articleId">
    Читать дальше
</NavLink>
@code {
    [Parameter]
    public ArticleDto articleDto { get; set; }
    string articleId;
    protected override void OnInitialized()
    {
        Console.WriteLine("*********** ArticleDto.OnInitialized()" + articleDto.Name);
        Console.WriteLine("ArticleDto.Id is " + articleDto.Id);
        articleId = $"/article/{articleDto.Id}";
    }

}
